.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.25rem;

  width: 80%;
  height: 75%;
  background-color: white;
  border-radius: 25px;
  padding: 2.5rem;

  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.07);
  border-radius: 20px;

  margin-top: 2vh;
}

.registration-form-title {
  color: #4B4B4B;
  text-align: center;

  font-size: 1.8rem;

  letter-spacing: 1px;
  line-height: 2.5rem;
}

.dashed-line {
  border-top: 4px dashed #E5E5E5;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 30px;
}

.page-form {
  width: 28vw;
}

.registration-form-name {
  display: flex;
}

.registration-form-firstname {
  margin-right: 5%;
}

.firstname {
  width: 90%;
}

.lastname {
  width: 90%;
}

.registration-label {
  font-family: 'Omnes-Regular', sans-serif;
  color: #4B4B4B;
  font-size: 1.25rem;
}

.registration-input {
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  font-family: 'Omnes-Regular',sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 1.75rem;

  font-size: 20px;
  background-color: #F9F9F9;

}

/* Style for the input when it's in focus (active) */
.registration-input:focus {
  outline-color: #859CFF; /* Change this to your desired border color */
}


.registration-btn {
  height: 1.5rem;
  font-family: 'Omnes-Bold', sans-serif;
  font-size: 1.45rem;
  color: white;
  height: 3em;
  width: 100%;
  border-color: transparent;
  background-color: #859CFF;
  border-radius: 20px;
  border-bottom: 12px solid #7187E4;
  margin-top: 1.5rem;

  transition: background-color 0.4s;
}


.registration-btn:hover {
  background-color: #9CAFFF;
  cursor: pointer;
}