*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'Omnes-Bold'; /* You can specify any name you want */
  src: url('../fonts/Omnes-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Omnes-Regular'; /* You can specify any name you want */
  src: url('../fonts/Omnes-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Omnes-SemiBold'; /* You can specify any name you want */
  src: url('../fonts/Omnes-SemiBold.woff') format('woff');
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.btn {
  font-family: 'Omnes-Bold', sans-serif;
  font-size: 2rem;
  color: white;
  height: 4.5rem;
  width: 33%;
  border-color: transparent;
  background-color: #859CFF;
  border-radius: 20px;
  border-bottom: 12px solid #7187E4;

  margin-top: 1vh;

  transition: background-color 0.4s;
}


.btn:hover {
  background-color: #9CAFFF;
  cursor: pointer;
}